# This is an example .flake8 config, used when developing *Black* itself.
# Example file pulled from FAIR's Detectron2 repo:
# https://github.com/facebookresearch/detectron2

[flake8]
ignore = W503, E203, E221, C901, C408
max-line-length = 88
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude = build,dist,__init__.py,.git,__pycache__,
