[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pylint = "*"
pytest = "*"

[packages]
opencv-python = "<=4.1.2.30"
clize = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
